@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    /* display:flex; */
    /* flex:1; */
    font-family: Roboto, sans-serif;
    align-self: center;
    margin: 0;
    color:rgb(95, 105, 110);
}

.section1{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex:1; */
    color: #E5E7EB;
    background-color: #1F2937;
    margin: 0;
    /* justify-content: space-between; */
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
   color: #F9FAF8;
   font-size: 24px;
   font-weight: bolder;
}
.right-links{
    display: flex;
    gap:1.5rem;

}
.right-links a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.section1-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    padding-bottom: 8rem;
}
.left-stuff{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 25% 0 auto;
    width: 28rem;
    padding: 2rem;
}
.right-stuff{
    flex: 0 0 1;
    width: 32rem;
    /* height: 16rem; */
    margin: 2rem;
    background-color: rgb(95, 105, 110);
    text-align: center;
    
}
.alt{
    align-items: center;
}
.header-paragraph{
    flex-wrap: wrap;
}
button{
    align-self: flex-start;
    align-items: center;
    justify-items:center;
    border: none;
    border-radius: 8px;
    margin-top: .5rem;
    padding: .5rem 2.25rem .5rem 2.25rem;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3883F6;
}
.header-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.header-paragraph{
    color:#E5E7EB;
    font-size: 18px;
}


.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2-header{
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 2rem 1rem 0 0;
    margin: 1rem;
}
.section2-info-boxes{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* justify-items: center; */
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin: 1rem 0;
}
.image-wrapper{
    display:flex;
    flex-direction: column;
    flex-grow: 0;
    justify-self: center;
    /* height:auto; */
    width:14rem;
}
.image-wrapper p{
    display: flex;     
}
p{
    justify-self: center;
    align-self: center;
}
p img{
    padding: 4rem;
    margin: 0;
    border: 4px solid #3882f6;
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    text-align: center;  

}
.subtext{
    /* display: block; */
    text-align: center;
    font-size: 18px;
    padding-top: 0;
    padding-left: 0;
    width: 10.5rem;
    border-radius: 0;
    margin:0;
}


